/* Styles specific to the portfolio page */

.welcome-section {
    background-color: #007bff;
    color: white;
    padding: 20px;
}

.welcome-text {
    max-width: 800px;
    margin-top: 0;
}

.welcome-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.welcome-text p {
    font-size: 1.5em;
    line-height: 1.6;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 1.5em;
}

.project p {
    margin-bottom: 10px;
}
